div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
}
