<section>
  <div>
    <a routerLink="/details/{{ product.product._id }}"
      ><img
        src="{{ product.product.image }}"
        alt=""
        width="100px"
        height="100px"
    /></a>
  </div>

  <section class="description">
    <div>
      <p>{{ product.product.name }}</p>
    </div>
    <div>
      <p>Price {{ product.product.price }} €</p>
    </div>
    <div>
      <p>Qty: {{ product.quantity }}</p>
    </div>
    <div type="button" (click)="removeProduct()" class="small-button">
      <p>Eliminar producto</p>
    </div>
  </section>
</section>
