<app-header></app-header>

<section *ngIf="!egg">
  <div class="not-login">
    <p>Gracias por tu compra, el plazo de entrega es de 2 a 3 días.</p>
    <p>Te hemos enviado a tu email la confirmación de la compra.</p>
  </div>
  <div type="button" class="small-button" (click)="easterEgg()">
    <p>no pulsar</p>
  </div>
</section>
<section *ngIf="egg" class="isdi">
  <div class="i">
    <div class="colum">
      <div class="letter-i">
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
      </div>
      <div>
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
          alt="pikachu"
          width="79"
          height="78"
          class="imgr"
          id="imgr2"
        />
      </div>
      <div>
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
          alt="pikachu"
          width="79"
          height="78"
          class="imgr"
          id="imgr2"
        />
      </div>
      <div>
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
          alt="pikachu"
          width="79"
          height="78"
          class="imgr"
          id="imgr2"
        />
      </div>
      <div>
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
          alt="pikachu"
          width="79"
          height="78"
          class="imgr"
          id="imgr2"
        />
      </div>
      <div>
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
          alt="pikachu"
          width="79"
          height="78"
          class="imgr"
          id="imgr2"
        />
      </div>

      <div class="letter-i">
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="s">
    <div class="colum">
      <div class="letter-i">
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
      </div>
      <div class="letter-sl">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
          alt="pikachu"
          width="79"
          height="78"
          class="imgr"
          id="imgr2"
        />
      </div>
      <div class="letter-sl">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
          alt="pikachu"
          width="79"
          height="78"
          class="imgr"
          id="imgr2"
        />
      </div>

      <div class="letter-i">
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
      </div>
      <div class="letter-sr-container">
        <div class="letter-sr">
          <div>
            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
              alt="pikachu"
              width="79"
              height="78"
              class="imgr"
              id="imgr2"
            />
          </div>
          <div>
            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
              alt="pikachu"
              width="79"
              height="78"
              class="imgr"
              id="imgr2"
            />
          </div>
        </div>
      </div>

      <div class="letter-i">
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt="pikachu"
            width="79"
            height="78"
            class="imgr"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="d">
    <div class="letter-i">
      <div>
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
          alt="pikachu"
          width="79"
          height="78"
          class="imgr"
        />
      </div>
      <div>
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
          alt="pikachu"
          width="79"
          height="78"
          class="imgr"
        />
      </div>
      <div>
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
          alt="pikachu"
          width="79"
          height="78"
          class="imgr"
        />
      </div>
      <div>
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
          alt="pikachu"
          width="79"
          height="78"
          class="imgr"
        />
      </div>
    </div>
    <div class="d1">
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        alt="pikachu"
        width="79"
        height="78"
        class="imgr"
        id="imgr2"
      />
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        alt="pikachu"
        width="79"
        height="78"
        class="imgr"
        id="imgr2"
      />
    </div>
    <div class="d2">
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        alt="pikachu"
        width="79"
        height="78"
        class="imgr"
        id="imgr2"
      />
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        alt="pikachu"
        width="79"
        height="78"
        class="imgr"
        id="imgr2"
      />
    </div>
    <div>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        alt="pikachu"
        width="79"
        height="78"
        class="imgr"
        id="imgr2"
      />
    </div>
    <div>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        alt="pikachu"
        width="79"
        height="78"
        class="imgr"
        id="imgr2"
      />
    </div>
    <div>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        alt="pikachu"
        width="79"
        height="78"
        class="imgr"
        id="imgr2"
      />
    </div>
  </div>
</section>
<app-footer></app-footer>
