<app-header></app-header>

<form *ngIf="userUpdate.name" class="update-form">
  <div>
    <input
      type="text"
      name="name"
      placeholder="Nombre"
      [(ngModel)]="userUpdate.name"
    />
  </div>

  <div>
    <input
      type="text"
      name="email"
      placeholder="Email"
      [(ngModel)]="userUpdate.email"
    />
  </div>

  <div>
    <input
      type="text"
      name="address"
      placeholder="Dirección"
      [(ngModel)]="userUpdate.address"
    />
  </div>
  <div>
    <input
      type="text"
      name="paymethod"
      placeholder="Metodo Pago"
      [(ngModel)]="userUpdate.payMethod"
    />
  </div>
  <div class="check-box">
    <input type="checkbox" name="cambios" id="" required class="check" />
  </div>
  <p>He leido y acepto los cambios realizados.</p>

  <p *ngIf="errorMessage">{{ errorMessage }}</p>
  <button (click)="handleSubmit()" type="submit">Guardar Cambios</button>
</form>
<div></div>

<div
  *ngIf="viewRegister"
  type="button"
  class="small-button"
  (click)="handleSesion()"
>
  <p>Cerrar Sesion</p>
</div>
<div *ngIf="!viewRegister" class="login-session">
  <p>Debes iniciar sesion para poder comprobar tus datos de usuario</p>
  <a href="/login">INICIA SESION</a>
</div>

<app-footer></app-footer>
