<app-header></app-header>

<form *ngIf="userData.name">
  <div>
    <input
      type="text"
      name="name"
      placeholder="Nombre"
      [(ngModel)]="userData.name"
    />
  </div>

  <div>
    <input
      type="text"
      name="email"
      placeholder="Email"
      [(ngModel)]="userData.email"
    />
  </div>

  <div>
    <input
      type="text"
      name="address"
      placeholder="Dirección"
      [(ngModel)]="userData.address"
    />
  </div>
  <div>
    <input
      type="text"
      name="paymethod"
      placeholder="Metodo Pago"
      [(ngModel)]="userData.payMethod"
    />
  </div>
  <div>
    <input type="checkbox" name="cambios" id="" required /> He leido y acepto
    los cambios realizados.
  </div>

  <p *ngIf="errorMessage">{{ errorMessage }}</p>
  <button (click)="handleSubmit()" type="submit">Guardar Cambios</button>
</form>
<div></div>

<div *ngIf="viewRegister" type="button" (click)="handleSesion()">
  <p>Cerrar Sesion</p>
</div>
<div *ngIf="!viewRegister">
  <p>Debes iniciar sesion para poder comprobar tus datos de usuario</p>
  <a href="/login">INICIA SESION</a>
</div>

<app-footer></app-footer>
