<ul>
  <li>
    <a routerLink="/home">
      Home<img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        alt=""
    /></a>
  </li>
  <li>
    <a routerLink="/favorite"
      >Favorite<img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        alt=""
    /></a>
  </li>
  <li>
    <a routerLink="/user"
      >User<img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        alt=""
    /></a>
  </li>
  <li>
    <a routerLink="/shopcart"
      >ShopCart<img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        alt=""
    /></a>
  </li>
</ul>
