<nav class="menu">
  <ul>
    <li>
      <a routerLink="/home"
        ><img
          src="https://firebasestorage.googleapis.com/v0/b/tumbaocaribe-b6a1b.appspot.com/o/fi-rr-homeHomeIcon.png?alt=media&token=f8663910-df60-4102-97e2-67fff2abcd11"
          alt=""
      /></a>
    </li>
    <li>
      <a routerLink="/favorite"
        ><img
          src="https://firebasestorage.googleapis.com/v0/b/tumbaocaribe-b6a1b.appspot.com/o/fi-rr-bookmarkwishlist.png?alt=media&token=916ff18d-16e9-4d31-8336-686505167472"
          alt=""
      /></a>
    </li>
    <li>
      <a routerLink="/user"
        ><img
          src="https://firebasestorage.googleapis.com/v0/b/tumbaocaribe-b6a1b.appspot.com/o/fi-rr-useruser.png?alt=media&token=704169b3-9186-4825-bf14-e17786b5d67e"
          alt=""
      /></a>
    </li>
    <li>
      <a routerLink="/shopcart"
        ><img
          src="https://firebasestorage.googleapis.com/v0/b/tumbaocaribe-b6a1b.appspot.com/o/fi-rr-shopping-bagbolsa.png?alt=media&token=3e25faae-fb61-46cb-b7d5-228241b0987f"
          alt=""
      /></a>
    </li>
  </ul>
</nav>
