<nav class="menu">
  <ul>
    <div>
      <li>
        <a routerLink="/home"
          ><img
            class="home-icon"
            src="https://firebasestorage.googleapis.com/v0/b/tumbaocaribe-b6a1b.appspot.com/o/Vector%20(1).png?alt=media&token=6b30f497-ea5b-4dfe-88fc-ff94f746dca1"
            alt="home"
        /></a>
      </li>
    </div>
    <div>
      <li>
        <a routerLink="/favorite"
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/tumbaocaribe-b6a1b.appspot.com/o/fi-rr-bookmarkwishlist.png?alt=media&token=916ff18d-16e9-4d31-8336-686505167472"
            alt="favorite"
        /></a>
      </li>
    </div>
    <div>
      <li>
        <a routerLink="/user"
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/tumbaocaribe-b6a1b.appspot.com/o/fi-rr-useruser.png?alt=media&token=704169b3-9186-4825-bf14-e17786b5d67e"
            alt="user"
        /></a>
      </li>
    </div>
    <div>
      <li>
        <a routerLink="/shopcart"
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/tumbaocaribe-b6a1b.appspot.com/o/fi-rr-shopping-bagbolsa.png?alt=media&token=3e25faae-fb61-46cb-b7d5-228241b0987f"
            alt="shopcart"
        /></a>
      </li>
    </div>
  </ul>
</nav>
